@import "../../../assets/css/hover-anim.css";

.contact-block {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;

    margin-left: 27.5%;
}

.contact-text {
    font-size: 1vw;
}

.social-btn {
    padding-right: 0.2em;
    font-size: 2.8vw;
    color: #5ae03a; /* yellowgreen */
}