@import "../../../assets/css/hover-anim.css";
@import "../../../assets/css/swoosh.css";

.contact-block {
    margin-top: 3.5vw;
    margin-left: 27.5%;

    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.contact-text {
    font-size: 1vw;
}

.social-btn {
    padding-right: 0.2em;
    font-size: 2.8vw;
    color: azure; /* #7CFC00; */
}

@media screen and (max-width: 800px) {
    .contact-block {
        text-align: center;
        font-weight: normal;
        margin-left: auto;
    }

    .contact-text {
        font-size: 4.2vw;
    }

    .social-btn {
        padding-right: 0.2em;
        font-size: 10.2vw;
    }
}