<div class="contact-block">
  <p class="contact-text">
    amici@theorizestudio.com<br>
    Phone: (+47) 98 43 15 17<br>
  </p>
  
  <div class="swoosh-late">
    <a href="https://www.facebook.com/goldenhandsgame/"><i class="fab fa-facebook-square social-btn bring-forth-icon"></i></a>
    <a href="https://twitter.com/The_Amici"><i class="fab fa-twitter-square social-btn bring-forth-icon"></i></a>
    <a href="https://github.com/theamici"><i class="fab fa-github-square social-btn bring-forth-icon"></i></a>
  </div>
</div>