@import "../../../assets/css/hover-anim.css";

.cross-site-section {
    margin-top: 3.5vw;
    margin-right: 15%;

    padding-top: 0.2vw;

    display: flex;
    flex-wrap: wrap;
}

.domain1-flex-item {
    flex-basis: 100%;
}

.domain2-flex-item {
    flex-basis: 100%;
}

.cross-site-btn {
    width: 9vw;
    height: 2.25vw;

    margin-bottom: 0.3em;
    padding-right: 0.75vw;

    border-style: outset;
    border-width: 0px;
    border-radius: 3%;

    text-align: right;
    color: black;
    font-size: 1.075vw;
    font-weight: 500;

    opacity: 0.95;

    box-shadow: 0px 0px 11px lightblue;

    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 15%;
}

.domain1-btn {
    background-image: url("../../../assets/domains-img/DomainButton1.png");
}

.domain2-btn {
    background-image: url("../../../assets/domains-img/DomainButton2.png");
}

@media screen and (max-width: 800px) {
    .cross-site-section {
        margin-top: -10px;
        margin-bottom: 0px;
        margin-left: -10px;
        margin-right: 0px;
    }
    
    .cross-site-btn {
        width: 100%;
        height: 3.3em;
        font-size: 4.4vw;

        margin-bottom: 0px;
        margin-left: 0%;

        border: none;
        border-radius: 0px;
        box-shadow: none;

        padding-right: 1em;
    }

    .domain1-flex-item {
        flex-basis: 50%;
    }

    .domain2-flex-item {
        flex-basis: 50%;
    }
}