<div class="article-selection-row">
  <div (click)="navToArticle(1)" onclick="scrollToArticle()" class="article-selection-btn bawo-selection-btn bring-forth"></div>

  <div (click)="navToArticle(2)" onclick="scrollToArticle()" class="article-selection-btn golden-hands-selection-btn bring-forth"></div>
</div>

<div class="article-selection-row">
  <div (click)="navToArticle(3)" onclick="scrollToArticle()" class="article-selection-btn partners-selection-btn bring-forth">
    <h1 class="temp-btn-title">Partners</h1>
  </div>

  <div (click)="navToArticle(4)" onclick="scrollToArticle()" class="article-selection-btn investors-selection-btn bring-forth">
    <h1 class="temp-btn-title">Investors</h1>
  </div>
</div>