@import "../../../assets/css/hover-anim.css";

.temp-btn-title {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
    font-size: 2.8vw; 
}

.article-selection-row {
    display: grid;
    grid-template-columns: 50% 50%;


    margin-left: 27%;
    margin-right: 27%;

    justify-items: center;
}

.article-selection-btn {
    width: 20vw;
    height: 12vw;

    margin-top: 2.5vw;

    border-radius: 3%;

    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 0px 11px lightblue;

    opacity: 0.95;
}

.bawo-selection-btn {
    background-image: url("../../../assets/BaWo_Logo.jpg");
}

.golden-hands-selection-btn {
    background-image: url("../../../assets/GoldenHandsMale.jpg");
}

.partners-selection-btn {
    background-color: green;
}

.investors-selection-btn {
    background-color: purple;
}