@import "../../../assets/css/hover-anim.css";

.temp-btn-title {
    margin-top: 21%;
    font-size: 2.8vw;
}

.article-selection-row {
    display: grid;
    grid-template-columns: 50% 50%;


    margin-left: 27%;
    margin-right: 27%;

    justify-items: center;
}

.article-selection-btn {
    width: 20vw;
    height: 12vw;

    margin-top: 2.5vw;

    border-radius: 3%;

    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 0px 11px lightblue;

    opacity: 0.95;
}

.article-selection-btn:hover {
    animation-name: bring-forth;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bawo-selection-btn {
    background-image: url("../../../assets/BaWo_Logo.jpg");
}

.golden-hands-selection-btn {
    background-color: gold;
}

.partners-selection-btn {
    background-color: green;
}

.investors-selection-btn {
    background-color: purple;
}

.article-headline {
    text-align: left;
    padding-left: 2em;

    font-size: 250%;
}

.article-divisor {
    width: 104%;
    height: 4px;

    box-shadow: 0px 0px 8px azure;

    background-color: azure;

    margin-left: -3.2%;
}

.arrows {
    display: inline-block;
    width: 2em;
}