<app-article-headline></app-article-headline>

<div class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            The group
        </h1>
        <p>
            Theorize Studio AS (LLC) today has 5 investors in total spread across
            1 primary initiator, 2 core investors and 2 supporting investors,
            providing a variety of assistance from business management and marketing
            to more general help.
        </p>
        <img src="assets/custom-img/investors-article/amici-token.png" class="article-token-img"/>
        <p>
            Of these, Amici Nybråten (above) is the CEO, primary initiator and largest
            shareholder for the company. His skills stretches throughout the fields of 
            creative leadership (incl. initiating, organizing, managing and directing),
            programming (incl. games, web, apps and cloud) and writing (both fiction and 
            document-authoring).
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            Core investors
        </h1>
        <img src="assets/custom-img/investors-article/robert-token.png" class="article-token-img"/>
        <img src="assets/custom-img/investors-article/mats-token.png" class="article-token-img"/>
        <p>
            Robert Alexander Ulvestad (first) forms the financial half of a duo of investors
            (with Mats) that make out the professional core investor body of the company. 
            Robert himself is the chairman of the board, and provides day-to-day financial-
            and administrative councelling to the CEO, as well as important networking for the company.
        </p>
        <p>
            Mats Roger Svendsen (second) functions as the company's marketing- and design specialist
            with a strong passion for games - an ideal addition to the decision-making processes
            of the company. His role comes both as an advisor and networker.
        </p>
    </div>

    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Supporting investors
        </h1>
        <img src="assets/custom-img/investors-article/geir-token.png" class="article-token-img"/>
        <img src="assets/custom-img/investors-article/mona-token.png" class="article-token-img"/>
        <p>
            Geir Anton Nybråten (first) is a strong supporter of the company, and provides a solid 
            contribution to the logistics and more general needs of the company, including equipment,
            manpower and transport.
        </p>
        <p>
            Mona Sjøen (second) is primarily a financial- and moral supporter, yet forms a flexible
            muscle that will come in handy for the company's future growth.
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            Want to be an investor?
        </h1>
        <p>
            Theorize Studio AS wants to do so much more! We want to grow and succeed, and we believe
            we have the recipe for both, but we need more capital. Does this adventure sound tempting
            to you? We are open for taking your calls any day, and we'll be happy to talk about why
            you should- and how you can become an investor. We are open to both small- and large
            investors, all the way from the adventurous laymen to the industry experts.
        </p>

        <p>
            Talk to us here:<br>
            amici@theorizestudio.com<br>
            Phone: (+47) 98 43 15 17<br>
        </p>
    </div>

    <button onclick="scrollToSmoothly('top')" class="to-top-btn fa fa-angle-double-up bring-forth-icon"></button>
</div>