.article-headline {
    text-align: left;
    margin-left: 6vw;

    font-size: 3vw;
}

.article-divisor {
    width: 104%;
    height: 4px;

    box-shadow: 0px 0px 8px azure;

    background-color: azure;

    margin-top: -2vw;
    margin-left: -10px;
}

.arrows {
    display: inline-block;
    width: 2em;
}

@media screen and (max-width: 800px) {
    .article-headline {
        margin-top: 1.75em;
        margin-left: 4vw;
    
        font-size: 7.2vw;
    }

    .article-divisor {
        margin-top: -3.3vw;
    }
}