<div class="site">

    <div class="top">
        <div class="anim-in-left">
            <app-domains></app-domains>
        </div>
    
        <div class="anim-in-down top-title">
            <h1 class="top-title-text">Theorize Studio</h1>
        </div>
    
        <div class="anim-in-right">
            <app-presence></app-presence>
        </div>
    </div>

    <div class="anim-in-up middle">
        <app-article-selector></app-article-selector>
    </div>

    <div id="article">
        <router-outlet></router-outlet>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In blandit lectus purus, sit amet suscipit elit feugiat vel. 
            Integer interdum dolor quis arcu ultricies, ut consectetur dolor commodo. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Fusce auctor enim felis, sit amet consequat orci dictum vel. 
            Quisque non tellus porta, volutpat nibh eu, venenatis elit. 
            Aliquam eleifend eros eu fermentum aliquet. 
            Phasellus ut turpis posuere, commodo quam viverra, lobortis felis.
            Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Morbi fringilla consequat gravida.
            Maecenas et feugiat erat. Sed convallis consectetur quam.
        </p>
    </div>
</div>