<div class="site">

    <div class="anim-in-left domains-area">
        <app-domains></app-domains>
    </div>

    <div id="top" class="top-title-area">
        <h1 class="anim-in-down top-title-text">
            Theorize Studio
        </h1>
        <h2 class="swoosh top-subtitle-text">
            For Novelty
        </h2>
        <audio id="subtitleAudio">
            <source src="../assets/audio/Subtitle1.1.ogg" type="audio/ogg">
        </audio>
    </div>

    <div class="anim-in-right presence-area">
        <app-presence></app-presence>
    </div>
  
    <div class="article1-btn-area anim-in-left">
        <div id="article1" (click)="navToArticle(1)" onclick="scrollToSmoothly('article')" class="article-btn top-article-btn bring-forth"></div>
    </div>

    <div class="article2-btn-area anim-in-right">
        <div id="article2" (click)="navToArticle(2)" onclick="scrollToSmoothly('article')" class="article-btn top-article-btn  bring-forth"></div>
    </div>

    <div class="article3-btn-area anim-in-left">
        <div id="article3" (click)="navToArticle(3)" onclick="scrollToSmoothly('article')" class="article-btn bring-forth"></div>
    </div>

    <div class="article4-btn-area anim-in-right">
        <div id="article4" (click)="navToArticle(4)" onclick="scrollToSmoothly('article')" class="article-btn bring-forth"></div>
    </div>
    
    <div id="article" class="article-area">
        <router-outlet></router-outlet>
    </div>
    
    <audio id="downAudio">
        <source src="../assets/audio/SFX_scrolling_1_down.ogg" type="audio/ogg">
    </audio>
    <audio id="topAudio">
        <source src="../assets/audio/SFX_scrolling_1_up.ogg" type="audio/ogg">
    </audio>
  </div>