<div class="site">
    <div class="top">
        <div class="anim-in-left">
            <app-domains></app-domains>
        </div>
    
        <div class="anim-in-down top-title">
            <h1 class="top-title-text">{{ topTitle }}</h1>
        </div>
    
        <div class="anim-in-right">
            <app-presence></app-presence>
        </div>
    </div>

    <div class="anim-in-down middle">
        <app-article-selector></app-article-selector>
    </div>

    <div class="anim-in-up pre-bottom">
        <app-article-headline></app-article-headline>
    </div>

    <div class="anim-in-up bottom">
        <app-article-content></app-article-content>
    </div>
</div>