<app-article-headline></app-article-headline>

<div class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            <u>Ba</u>ckground <u>Wo</u>rld: A Simulated Society
        </h1>
        <p>
            In one sentence, what is BaWo?
        </p>
        <blockquote>
            A software engine for simulating societies in games.
        </blockquote>
        <p>
            For gamers, BaWo is an opportunity to enjoy more content from
            their gamedevs, with more variety and deeper mechanics.
        </p>
        <p>
            For gamedevs, it's a series of codefiles or a .DLL file that
            they can attach to their own projects and use with only a few
            lines of their own code, coupled with a superfast content
            creation tool!
        </p>
        <p>
            More on the official BaWo website here:
        </p>
        <a href="http://bawo.games">
            <button class="cross-site-btn domain2-btn article-domain-btn bring-forth">
              .games
            </button>
        </a>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            Superfast Content Creation
        </h1>
        <p>
            Besides offering the functionality of simulating societies,
            BaWo's true strength is how it can enable people without
            technical expertise to mass-produce content for their games
            on a truly massive scale.
        </p>
        <p>
            So how is this accomplished? It can all be summarized
            in three simple facts:
        </p>
        <ul>
            <li>
                BaWo content is written in human-readable JSON files that you
                can literally just drop into a project folder of your choosing
                and voila! The game now has more content.
            </li>
            <li>
                A webapp called "BaWo Content Creator" will allow you to create
                BaWo content files in a simple, linear and error-free process.
                Get more time to design!
            </li>
            <li>
                BaWo comes with a completely automated AI. You tell it what your 
                characters care about, and they will behave accordingly!
            </li>
        </ul>
    </div>

    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Kickstart us!
        </h1>
        <p>
            We are in the process of setting up a campaign on Kickstarter.com so 
            that we may commit as much as possible to this project. Follow us on
            social media for news and more!
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            The Project in Cyberspace
        </h1>
        <ul>
            <li>
                <a href="https://github.com/theamici/BaWoEngine">GitHub</a> where you can find the code library
            </li>
            <li>
                <a href="https://trello.com/b/ZAjtOhZX/bawo-engine">Trello</a> where you can get a rough view of progress
            </li>
        </ul>
    </div>

    <button onclick="scrollToSmoothly('top')" class="to-top-btn fa fa-angle-double-up bring-forth-icon"></button>
</div>


<!--
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Defining BaWo: what is it for?
        </h1>
        <p>
            BaWo is a software engine for simulating societies in games. It can
            be added to a game project either as code files, or as a DLL.
        </p>
        <p>
            The engine provides nondeterministic generating and auto-managing of 
            large quantities of actors within a game world, and more specifically 
            the flow of data between these actors. It's ideal for any game that 
            attempts to simulate societal interactions. It also has utilities for 
            simplified saving, loading, event handling and data presentation, and
            does not require scripting to add content.
        </p>
    </div>
    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            The Project in Cyberspace
        </h1>
        <ul>
            <li>
                <a href="https://github.com/theamici/BaWoEngine">GitHub</a> where you can find the code library
            </li>
            <li>
                <a href="https://trello.com/b/ZAjtOhZX/bawo-engine">Trello</a> where you can get a rough view of progress
            </li>
        </ul>
    </div>
-->