<app-article-headline></app-article-headline>

<div class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            <u>Ba</u>ckground <u>Wo</u>rld: A Simulated Society
        </h1>
        <p>
            In one sentence, what is BaWo?
        </p>
        <blockquote>
            A software engine for simulating societies in games.
        </blockquote>
        <p>
            For gamers, BaWo is an opportunity to enjoy more content from
            their gamedevs, with more variety and deeper mechanics.
        </p>
        <p>
            For gamedevs, it's a series of codefiles or a .DLL file that
            they can attach to their own projects and use with only a few
            lines of their own code, coupled with a superfast content
            creation tool!
        </p>

        <p>
            More on the official BaWo website here:
        </p>
        
        <a href="http://bawo.games">
            <button class="cross-site-btn domain2-btn article-domain-btn bring-forth">
              .games
            </button>
        </a>

        <h1 class="article-mid-section-title">
            The Project in Cyberspace
        </h1>
        <p>
            Due to the progress being made with BaWo, and a decision to keep
            BaWo proprietary, any further detailed information about the
            project has been made private. Contact Amici for any questions.
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            Superfast Content Creation
        </h1>
        <p>
            Besides offering the functionality of simulating societies,
            BaWo's true strength is how it can enable people without
            technical expertise to mass-produce content for their games
            on a truly massive scale.
        </p>
        <p>
            So how is this accomplished? It can all be summarized
            in three simple facts:
        </p>
        <ul>
            <li>
                BaWo content is written in human-readable JSON files that you
                can literally just drop into a project folder of your choosing
                and voila! The game now has more content.
            </li>
            <li>
                A webapp called "BaWo Content Creator" will allow you to create
                BaWo content files in a simple, linear and error-free process.
                Get more time to design!
            </li>
            <li>
                BaWo comes with a completely automated AI. You tell it what your 
                characters care about, and they will behave accordingly!
            </li>
        </ul>

    </div>

    <button onclick="scrollToSmoothly('top')" class="to-top-btn fa fa-angle-double-up bring-forth-icon"></button>
</div>