@font-face {
  font-family: custom;
  src: url("assets/courier-prime-code-regular.ttf");
}

body {
  margin-left: 0.5em;

  width: 100%;
  background-image: url("assets/custom-img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: azure;
  text-align: center;
  font-family: custom;
  letter-spacing: 200%;

  overflow-x: hidden;
}

a {
  font-weight: bold;
  font-size: 1.1em;
}

a:link {
  color:rgb(4, 238, 0);
}

a:visited {
  color: rgb(0, 189, 164);
}

@media screen and (max-width: 800px) {
  body {
    background-image: url("assets/custom-img/Background-Mobile.png");
    padding-top: 10px;
  }
}