@font-face {
  font-family: custom;
  src: url("assets/courier-prime-code-regular.ttf");
}

body {
  margin-left: 1em;
  margin-top: 1em;

  width: 100%;
  background: #264BB2; /* #5DB275; */
  background-image: url("assets/amicisky.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: azure;
  text-align: center;
  font-family: custom;
  letter-spacing: 200%;

  overflow-x: hidden;
}