<app-article-headline></app-article-headline>

<div class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Strategy as never seen before
        </h1>
        <p>
            This game comes without an established genre. Surely, it's
            a strategy game, but of what kind? Well, it's not like your
            typical 4X strategy game, not like Crusader Kings, and although
            it makes you think of the Sims it's not really like that either.
            Yet, somehow it's a bit like all of them. It borrows from their
            spirits, and adds its own flavour of the game about industrializing
            human happiness.
        </p>
        <p>
            More on the official Golden Hands website here:
        </p>
        <a href="http://goldenhands.games">
            <button class="cross-site-btn domain1-btn article-domain-btn bring-forth">
              .games
            </button>
        </a>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            A person and an empire
        </h1>
        <p>
            In Golden Hands you semi-randomly generate a world with 5 nations
            and up to thousands of characters, with each one playable by you!
            Here you don't make characters, you possess them, and then attempt
            to turn their lives around, sometimes completely. As your character
            you start by experiencing a great tragedy, leading to an existential
            awakening where you decide to dedicate your life to one goal: reshaping
            the world into a happy place.
        </p>
        <p>
            Now the challenge has been set, so how will you do it? Golden Hands
            will offer many challenges and many paths to try, so how far you can get?
            Let's see!
        </p>
    </div>

    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            A BaWo game
        </h1>
        <p>
            Golden Hands is based on the BaWo technology, meaning that we will
            be able to give you a huge, varied and deeply interconnected world, 
            with comparatively large amounts of content that we'll also be able 
            to add continuously into the game's lifetime.
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            The Project in Cyberspace
        </h1>
        <ul>
            <li>
                <a href="https://www.facebook.com/goldenhandsgame/">Facebook</a> where you can find news about the game
            </li>
            <li>
                <a href="https://goldenhandsgame.blogspot.com">Blogspot</a> where you can read a story about how it would be like to play the game
            </li>
        </ul>
    </div>
    
    <button onclick="scrollToSmoothly('top')" class="to-top-btn fa fa-angle-double-up bring-forth-icon"></button>
</div>