<app-article-headline></app-article-headline>

<div id="goldenHandsArticle" class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Strategy as never seen before
        </h1>
        <p>
            ff
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            A person and an empire
        </h1>
        <p>
            ff
        </p>
    </div>

    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            ff
        </h1>
        <p>
            ff
        </p>
    </div>

    <div class="article-section anim-in-right">
        <h1 class="article-section-title">
            A BaWo game
        </h1>
        <p>
            ff
        </p>
    </div>
    
</div>