@import "../../../assets/css/article.css";
@import "../../../assets/css/loading-anim.css";
@import "../../sections/domains/domains.component.css";

#bawoArticle {
    background-color: hsla(210, 55%, 37.5%, 0.9);
}

.bawo-domain-btn {
    padding-left: 2px;
}

@media screen and (max-width: 800px) {
    .bawo-domain-btn {
        width: 62.5%;
        height: 2.5em;
        border-radius: 5px;
        font-size: 5.25vw;
    }
}