<app-article-headline></app-article-headline>

<div class="article-content">
    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Juan Camilo Jáuregui Reyes
        </h1>
        <p>
            Juan is Theorize Studio's sound guy, and has been
            responsible for making the theme music of golden hands
            as well as provide professional advise in the field of
            sound and music.
        </p>
        <p>
            Juan is primarily a composer, but has a range of musical
            experience from conducting to education, and currently
            focuses on making unique quality game music.
        </p>
        <p>
            Curious about this man's talents? You can listen to his works,
            including the great track "Golden Hands - I Make the Brighter Days"
            at <a href="https://soundcloud.com/juancamilojaureguireyes">SoundCloud</a>.
        </p>
    </div>

    <div class="article-section anim-in-right">
        <img src="assets/custom-img/partners-article/Juan.jpg" class="article-full-img"/>
    </div>

    <div class="article-section anim-in-left">
        <h1 class="article-section-title">
            Digital Imaginary Studios
        </h1>
        <p>
            D.I.S. are Theorize Studio's art people. A small company of 5 people
            working with 2D- and 3D art (and with their own project managers), 
            this group does all our graphic designs, with skills ranging from
            concept art, texturing and modeling to animations and visual character
            design.
        </p>
        <p>
            Are you curious about these people's talents? Then take a look at
            their website <a href="https://distudios.pl">DiStudios.pl</a> for a
            gallery of cool artworks!
        </p>
    </div>

    <div class="article-section anim-in-right">
        <img src="assets/custom-img/partners-article/DIS.jpg" class="article-full-img"/>
    </div>

    <button onclick="scrollToSmoothly('top')" class="to-top-btn fa fa-angle-double-up bring-forth-icon"></button>
</div>